/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* styles/globals.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

/* fade effect (to-do) */
.fade-in {
  visibility: hidden;
  opacity: 0;
  transform: translateY(20px);
  transition: visibility 1s ease-in-out, opacity 1s ease-in-out,
    transform 1s ease-in-out;
}

.fade-in.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
